@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "HomePage";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <h1> Welcome to Energy Mission Data Management Portal </h1>
    <br />
    <div class="product-info">
        <button class="btn btn-secondary"><a asp-controller="Account" asp-action="Login" style="color:white"> Login </a></button>
        <button class="btn btn-warning"><a asp-controller="Account" asp-action="NewRegistration" style="color:black"> New Registration </a></button>
    </div>
</center>